:root { 
  --black: #000000;
  --eerie-black: #1e1e1e;
  --gray: #7f7f7f;
  --masala: #403c3c;
  --picton-blue: #41a2fc;
  --red-violet: #c33791;
  --silver-sand: #c2c2c2;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 20px;
  --font-size-s: 15px;
  --font-size-xl: 29px;
  --font-size-xs: 14px;
  --font-size-xxs: 11px;
  --font-size-xxxs: 10px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-normal-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-light-gray-20px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-light-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-medium-eerie-black-22px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-light-picton-blue-20px {
  color: var(--picton-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-gray-20px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
