:root { 
  --black: #000000;
  --eerie-black: #1e1e1e;
  --gray: #7f7f7f;
  --masala: #403c3c;
  --red-violet: #c33791;
  --white: #ffffff;
 
  --font-size-l: 29px;
  --font-size-m: 25px;
  --font-size-s: 22px;
  --font-size-xs: 20px;
  --font-size-xxs: 14px;
  --font-size-xxxs: 11px;
  --font-size-xxxxs: 10px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-normal-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-eerie-black-22px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-gray-20px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
